@model Application.People.Commands.Create.CreatePersonCommand;

@{
    ViewData["Title"] = "Add";
}

<div>
    <form asp-controller="Person" asp-action="Add" method="post">
        <div>
            <p>First name:</p>
            <input type="text" asp-for="FirstName" />
            @Html.ValidationMessageFor(x => x.FirstName)
            <br />
        </div>
        <div>
            <p>Last name:</p>
            <input type="text" asp-for="LastName" />
            @Html.ValidationMessageFor(x => x.LastName)
            <br />
        </div>
        <div>
            <p>Age:</p>
            <input type="number" asp-for="Age" />
            @Html.ValidationMessageFor(x => x.Age)
            <br />
        </div>
        <div>
            <input type="submit" value="Send" />
            <button>
                <a asp-controller="Person" asp-action="Index">To list</a>
            </button>
        </div>
    </form>
</div>