@model Application.People.Commands.Create.CreatePersonCommand;

@{
    ViewData["Title"] = "Add";
}

<div>
    <form asp-controller="Person" asp-action="Add" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <p>First name:</p>
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
            <br />
        </div>
        <div>
            <p>Last name:</p>
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
            <br />
        </div>
        <div>
            <p>Age:</p>
            <input type="number" asp-for="Age" />
            <span asp-validation-for="Age"></span>
            <br />
        </div>
        <div>
            <input type="submit" value="Send" />
            <button>
                <a asp-controller="Person" asp-action="Index">To list</a>
            </button>
        </div>
    </form>
</div>